numpy
pandas
selenium
beautifulsoup4
requests
python-dotenv
colorama
networkx
matplotlib
opencv-python
# pip install --config-settings="--global-option=build_ext" --config-settings="--global-option=-IC:\Program Files\Graphviz\include" --config-settings="--global-option=-LC:\Program Files\Graphviz\lib" pygraphviz
plotly